.menu {
    display: block;
    border-top: 1px solid #ddd;
    margin-top: 10px;
}

.menu .nav-link{
    display: block;
    text-align: right;
}

.menu .nav-link.active {
    border-right: 10px solid rgb(7, 71, 166);
    /* border-bottom: 1px solid rgb(7, 71, 166); */
    color: rgb(7, 71, 166);
}

.menu .nav-link:hover {
    background-color: #eee;
    color:#0d6efd;
}